.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 250px;
  height: 250px;
}

.toHover figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.toHover figure:hover img {
  transform: scale(1.5);
  border-style: outset;
}

.toHover {
  display: inline-block;
  text-align: center;
}
