.parent-div {
    width: 80%;
    margin: 10px auto;  /*set div center*/
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    display: flex;
}

.img {
    width: 80%;
    margin: 20px;
}

.left-div {
    display: flex;
}

.right-div {
    display: flex;

}

.media-left {
    width: 60%;
    text-align: left;
    display: flex;
}

.media-body {
    margin-top: 20px;
    width: 40%;
    text-align: left;
}